In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/dataset_test.csv")

In [4]:
df.head().T

,0,1,2,3,4
key_value,0.000000,1.000000,2.000000,3.000000,4.000000
target,0.000000,0.000000,0.000000,0.000000,0.000000
edad,1.137034,-1.513823,-1.135129,0.606863,-1.135129
sexo,0.000000,0.000000,0.000000,0.000000,0.000000
est_cvl,4.000000,4.000000,4.000000,4.000000,4.000000
sit_lab,2.000000,1.000000,1.000000,1.000000,1.000000
ctd_hijos,0.000000,0.000000,0.000000,0.000000,0.000000
flg_sin_email,0.000000,1.000000,0.000000,1.000000,1.000000
ctd_veh,0.000000,0.000000,0.000000,0.000000,0.000000
tip_lvledu,0.000000,7.000000,5.000000,5.000000,0.000000
total_mean_of_saldo_count_per_month,17.333333,4.916667,7.500000,15.000000,4.285714
total_sum_of_saldo_count_per_month,208.000000,59.000000,90.000000,180.000000,30.000000
total_min_of_saldo_count_per_month,11.000000,4.000000,6.000000,12.000000,2.000000
total_max_of_saldo_count_per_month,22.000000,7.000000,9.000000,17.000000,6.000000
total_mean_of_saldo_sum_per_month,16.759160,4.665917,7.082393,14.206302,3.989539
total_sum_of_saldo_sum_per_month,201.109910,55.991013,84.988720,170.475620,27.926773
total_min_of_saldo_sum_per_month,10.688168,3.772200,5.714930,11.417912,1.854238
total_max_of_saldo_sum_per_month,21.142704,6.703029,8.528098,16.079910,5.594201
total_min_of_saldo_min_per_month,0.927119,0.927186,0.927108,0.927108,0.927119
total_mean_of_saldo_min_per_month,0.927267,0.927533,0.927290,0.927167,0.927192
total_max_of_saldo_max_per_month,1.061475,1.130898,0.994291,1.011087,0.944508
total_mean_of_saldo_max_per_month,1.061475,0.991719,0.977496,1.004369,0.938739
total_min_of_condicion_min_per_month,0.000000,0.000000,0.000000,0.000000,0.000000
total_mean_of_condicion_min_per_month,0.000000,0.000000,0.000000,0.000000,0.000000
total_max_of_condicion_max_per_month,0.000000,24.000000,0.000000,61.000000,6.000000
total_mean_of_condicion_max_per_month,0.000000,2.000000,0.000000,7.583333,1.571429
total_mean_of_condicion_mean_per_month,0.000000,1.200000,0.000000,1.422619,0.666667

In [6]:
df.loc[60:61, :].to_dict(orient="records")

[{'key_value': 62,
  'target': 0,
  'edad': -1.3623451,
  'sexo': 1.0,
  'est_cvl': 4.0,
  'sit_lab': 1.0,
  'ctd_hijos': 0.0,
  'flg_sin_email': 1.0,
  'ctd_veh': 0.0,
  'tip_lvledu': 7.0,
  'total_mean_of_saldo_count_per_month': 2.5,
  'total_sum_of_saldo_count_per_month': 30,
  'total_min_of_saldo_count_per_month': 2,
  'total_max_of_saldo_count_per_month': 4,
  'total_mean_of_saldo_sum_per_month': 2.3570971,
  'total_sum_of_saldo_sum_per_month': 28.285166,
  'total_min_of_saldo_sum_per_month': 1.8607771,
  'total_max_of_saldo_sum_per_month': 3.949139,
  'total_min_of_saldo_min_per_month': 0.92711896,
  'total_mean_of_saldo_min_per_month': 0.9273224,
  'total_max_of_saldo_max_per_month': 1.04637,
  'total_mean_of_saldo_max_per_month': 0.9552064,
  'total_min_of_condicion_min_per_month': 0,
  'total_mean_of_condicion_min_per_month': 0.0,
  'total_max_of_condicion_max_per_month': 0,
  'total_mean_of_condicion_max_per_month': 0.0,
  'total_mean_of_condicion_mean_per_month': 0.0},
 {'key_value': 63,
  'target': 0,
  'edad': 0.45538524,
  'sexo': 0.0,
  'est_cvl': 0.0,
  'sit_lab': 1.0,
  'ctd_hijos': 1.0,
  'flg_sin_email': 1.0,
  'ctd_veh': 0.0,
  'tip_lvledu': 0.0,
  'total_mean_of_saldo_count_per_month': 3.875,
  'total_sum_of_saldo_count_per_month': 31,
  'total_min_of_saldo_count_per_month': 2,
  'total_max_of_saldo_count_per_month': 5,
  'total_mean_of_saldo_sum_per_month': 3.656868,
  'total_sum_of_saldo_sum_per_month': 29.254944,
  'total_min_of_saldo_sum_per_month': 1.9068427,
  'total_max_of_saldo_sum_per_month': 4.717749,
  'total_min_of_saldo_min_per_month': 0.9271525,
  'total_mean_of_saldo_min_per_month': 0.93379813,
  'total_max_of_saldo_max_per_month': 0.9830942,
  'total_mean_of_saldo_max_per_month': 0.9574818,
  'total_min_of_condicion_min_per_month': 0,
  'total_mean_of_condicion_min_per_month': 0.0,
  'total_max_of_condicion_max_per_month': 0,
  'total_mean_of_condicion_max_per_month': 0.0,
  'total_mean_of_condicion_mean_per_month': 0.0}]

In [8]:
df_train = pd.read_csv("data/dataset_train.csv")

In [9]:
df_train["target"].value_counts()

0    298656
1     56007
Name: target, dtype: int64

In [17]:
df_train.shape

(354663, 27)